*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --orange: #ff9814;
}

*::selection {
  background: var(--orange);
  color: #fff;
}

html {
  overflow-x: hidden;
}

.btn {
  font-size: 1rem;
  padding: 0 16px;
  background: var(--orange);
  color: #fff;
  margin-top: 1rem;
  margin-left: 5rem;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 4px;
  outline: none;
  border: 1px solid transparent;
}

.btn:hover {
  background: #333;
}

header {
  position: fixed;
  top: 0;
  left: 3px;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.03);
  width: 100%;
}

header .heading {
  font-size: 4rem;
  color: #666;
  padding: 2rem;
  text-align: center;
}

header #menu {
  font-size: 4rem;
  color: #666;
  cursor: pointer;
  margin: 1.5rem;
  display: none;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background: var(--orange);
  padding: 0.75rem;
}

header .navbar ul li {
  margin: 0 1.5rem;
}

header .navbar ul li a {
  font-size: 1rem;
  color: #fff;
}
header .navbar ul li a:hover {
  color: #444;
}
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url(./Photo/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex-wrap: wrap;
}
.home .image {
  flex: 1 1 40rem;
}
.home .image img {
  width: 100%;
}
.home .content {
  flex: 1 1 40rem;
}
.home .content h1 {
  font-size: 5rem;
  margin-left: 5rem;
  color: rgb(255, 0, 0);
}
.home .content p {
  font-size: 2rem;
  color: rgb(5, 5, 5);
  padding: 1rem 0;
  margin-left: 5rem;
}
.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url(./Photo/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.about .image {
  flex: 1 1 40rem;
}
.about .image img {
  width: 100%;
}
.about .content {
  flex: 1 1 40rem;
}
.about .content h1 {
  font-size: 5rem;
  margin-left: 5rem;
  color: #666;
}
.about .content p {
  font-size: 1.6rem;
  color: rgb(5, 5, 5);
  padding: 1rem 0;
  margin-left: 5rem;
}

.ram {
  margin-top: 5rem;
  height: 100vh;
  width: 100%;
  background-image: url(./Photo/home-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.logo {
  font-family: sans-serif;
  font-size: 2.5em;
}
.logo span {
  color: #ff6200;
}
.nav {
  width: 88%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.om {
  width: 100%;
  position: absolute;
}
.left-col {
  margin-left: 5%;
  margin-top: 10%;
}
.left-col h1 {
  font-size: 75px;
  color: rgb(7, 6, 5);
  line-height: 100px;
  float: left;
}
.right-col {
  float: right;
  margin-right: 6%;
  margin-top: 120px;
  display: flex;
  align-items: center;
}
.right-col p {
  font-size: 18px;
  color: #000000;
  font-weight: 400;
}
#icon {
  width: 80px;
  cursor: pointer;
}

.plan {
  min-height: 100%;
  background: #eee;
}
.plan .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.plan .box-container .box {
  background: #fff;
  margin: 1rem;
  padding: 2rem;
  width: 35rem;
  text-align: center;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.03);
  position: relative;
}
.plan .box-container .box .title {
  font-size: 3rem;
  color: #666;
  padding: 1rem 0;
}
.plan .box-container .box .price {
  background: var(--orange);
  color: #fff;
  border-radius: 50%;
  margin: 1rem auto;
  height: 13rem;
  width: 13rem;
  line-height: 13rem;
  text-align: center;
  font-size: 2.5rem;
}
.plan .box-container .box .price spam {
  font-size: 2rem;
}
.plan .box-container .box u1 li {
  color: #666;
  list-style: none;
  font-size: 1.7rem;
  padding: 0.5rem 0;
}
.contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact form {
  flex: 1 1 30rem;
  padding: 2rem;
  margin: 1rem;
  margin-top: 4rem;
  box-shadow: 0 0 0.5rem rgb(0, 0, 0);
}
.contact .contect {
  flex: 1 1 40rem;
  padding: 3rem 1rem;
  font-size: 1.5rem;
}
.contact form .box {
  width: 100%;
  color: #333;
  height: 4rem;
  font-size: 1.7rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.374);
  text-transform: none;
  margin: 1rem 0;
}
.contact form .box::placeholder {
  text-transform: capitalize;
}
.contact form .box:focus {
  border-color: var(--orange);
}
.contact form .message {
  height: 15rem;
  resize: none;
}
.contact .contect h3 {
  font-size: 3.5rem;
  color: #444;
}
.contact .contect p {
  font-size: 1.8rem;
  color: #666;
  padding: 1rem 0;
}
.contact .contect .icons {
  font-size: 1.7rem;
  color: #333;
  padding: 0.5rem 0;
}
.contact .contect .icons i {
  padding-right: 0.5rem;
  color: var(--orange);
}
.footer {
  background: #333;
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  margin: 2rem;
  flex: 1 1 30rem;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
}
.footer .box-container .box a {
  font-size: 2rem;
  color: #eee;
  padding: 0.4rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  text-decoration: underline;
}
.footer .box-container .box:nth-child(2) {
  text-align: center;
}
.footer .box-container form {
  display: flex;
  align-items: center;
}
.footer .box-container form input[type="email"] {
  height: 4rem;
  width: 20rem;
  font-size: 1.7rem;
  padding: 0 1rem;
}
.footer .box-container form .btn {
  margin-top: 0;
  margin-left: 0;
  height: 4rem;
  width: 15rem;
  font-size: 2rem;
}
.footer .box-container form .btn:hover {
  color: #333;
  background: #ccc;
}
.footer .credit {
  font-size: 2rem;
  background: #222;
  text-align: center;
  color: #fff;
  padding: 2rem 1rem;
  font-weight: normal;
}
.footer .credit a {
  color: #ff9814;
}

/* media queries */

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .home .content {
    text-align: center;
  }
  .home .content h1 {
    font-size: 4rem;
  }
  .about .content h1 {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  header #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 6.2rem;
    right: -120%;
    right: 0;
    height: 100%;
    width: 100%;
    border-top: 0.2rem solid rgba(0, 0, 0, 0.03);
  }
  header .navbar u1 {
    height: 100%;
    width: 100%;
    flex-flow: column;
    background: #fff;
    padding-bottom: 15rem;
  }
  header .navbar u1 li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
  }
  header .navbar u1 li a {
    font-size: 4rem;
    color: #333;
    display: block;
  }
  header .navbar u1 li a:hover {
    color: var(--orange);
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }
  section {
    padding-top: 5rem;
  }
  .footer .box-container .box:last-child {
    text-align: center;
  }
  .footer .box-container .box:last-child p {
    font-size: 1.5rem;
  }
  .footer .box-container .box:last-child form {
    flex-flow: column;
  }
  .footer .box-container .box:last-child form .btn {
    margin-top: 1rem;
    width: 100%;
  }
}
